@model SchoolManager.Areas.ClassManagement.Models.EstablishmentModel
@{
    ViewBag.Title = "Create - Establishment";
}

<h2>New Establishment</h2>
@{Html.BeginForm("Create", "Establishment", FormMethod.Post, new { @class = "form-horizontal" });}
@Html.HiddenFor(t => t.id)

@Html.LabelFor(t => t.Name)
@Html.TextBoxFor(t => t.Name, new { @class="form-control"})

@Html.LabelFor(t=>t.Address)
@Html.TextBoxFor(t => t.Address, new { @class = "form-control" })

@Html.LabelFor(t => t.PostCode)
@Html.TextBoxFor(t => t.PostCode, new { @class = "form-control" })

@Html.LabelFor(t => t.Town)
@Html.TextBoxFor(t => t.Town, new { @class="form-control"})
<label>Academy</label>
<select class="form-control" id="Academie_Id" name="Academie_Id">
    @foreach (var academy in (List<SchoolManager.Areas.ClassManagement.Models.AcademyModel>)ViewData["academies"])
    {
        if (academy.Id == @Model.Academie_Id)
        {
            <option selected="selected" value="@academy.Id">@academy.Name</option>
        }
        else 
        { 
            <option value="@academy.Id">@academy.Name</option>
        }
    }
</select>
<label>User</label>
<select class="form-control" id="User_Id" name="User_Id">
    @foreach (var user in (List<SchoolManager.Areas.ClassManagement.Models.UserModel>)ViewData["users"])
    {
        if (user.Id == ((List<SchoolManager.Areas.ClassManagement.Models.UserModel>)ViewData["users"]).First().Id)
        {
            <option selected="selected" value="user.Id">@user.FirstName @user.LastName</option>
        }
        <option value="@user.Id">@user.FirstName  @user.LastName</option>
    }
</select>



<input class="btn btn-primary" type="submit" value="Valider" />
@{Html.EndForm();}
