@model List<SchoolManager.Areas.ClassManagement.Models.EstablishmentModel>
@{
    ViewBag.Title = "Index";
}

<h2>Establishments</h2>
<table class="table">
    <thead>
        <tr>
            <th>Academy</th>
            <th>Name</th>
            <th>Address</th>
            <th>PostCode</th>
            <th>Town</th>
            <th>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink(
                    linkText: "Add Establishment",
                    actionName: "Create",
                    controllerName: "Establishment",
                    routeValues: new
                    {

                    },
                    htmlAttributes: new
                    {
                        @class = "",
                        target = "_blank",
                    }
                )
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var establishment in Model)
        {
            <tr>
                <td>@Html.ActionLink(
                    linkText: establishment.AcademyName,
                    actionName: "Read",
                    controllerName: "Academy",
                    routeValues: new
                    {
                        id=@establishment.Academie_Id
                    },
                    htmlAttributes: new
                    {
                        @class = "",
                        target = "_blank",
                    }
                )</td>
                <td>@establishment.Name</td>
                <td>@establishment.Address</td>
                <td>@establishment.PostCode</td>
                <td>@establishment.Town</td>
                <td>
                    @Html.ActionLink(
                    linkText: "See",
                    actionName: "Read",
                    controllerName: "Establishment",
                    routeValues: new
                      {
                          id = @establishment.id
                      },
                    htmlAttributes: new
                     {
                         target = "_blank",
                     }
                )
                </td>
            </tr>
        }
    </tbody>
</table>
