@model SchoolManager.Areas.ClassManagement.Models.EstablishmentModel
@{
    ViewBag.Title = "Read";
}
<h2>Establishment @Model.Name</h2>
<table class="table">
<thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>PostCode</th>
        <th>Town</th>
        <th>User</th>
        <th>Academy</th>
    </tr>
</thead>
<tbody>

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
        <td>@Model.PostCode</td>
        <td>@Model.Town</td>
        <td>@Model.UserName</td>
        <td>@Html.ActionLink(
                linkText: @Model.AcademyName,
                actionName: "Read",
                controllerName: "Academy",
                routeValues: new
                {
                    id = @Model.Academie_Id
                },
                htmlAttributes: new
                {
                    @class = "",
                    target = "_blank",
                }
            )</td>
        
    </tr>
</tbody>
</table>

<h2>Classrooms for @Model.Name</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Teacher</th>
            <th>Establishment</th>
            <th>
                @Html.ActionLink(
                    linkText: "Add Classroom",
                    actionName: "Create",
                    controllerName: "Classroom",
                    routeValues: new
                    {

                    },
                    htmlAttributes: new
                    {
                        @class = "btn btn-default",
                        target = "_blank",
                    }
                )
            </th>
        </tr>
    </thead>
    <tbody>

            @foreach (SchoolManager.Models.ClassroomModel classroom in @Model.Classrooms) { 
            <tr>
                <td>@classroom.Title</td>
                <td>
                @Html.ActionLink(
                    linkText: @classroom.Year1.ToString(),
                    actionName: "Read",
                    controllerName: "Year",
                    routeValues: new
                    {
                        area = "Administration",
                        id = @classroom.Year_Id
                    },
                    htmlAttributes: new
                    {
                        @class = "",
                        target = "_blank",
                    }
                )
                </td>
                <td>@classroom.User_Name</td>
                <td>
                @Html.ActionLink(
                    linkText: @classroom.Establishment_Name,
                    actionName: "Read",
                    controllerName: "Establishment",
                    routeValues: new
                    {
                        id = @classroom.Establishment_Id
                    },
                    htmlAttributes: new
                    {
                            target = "_blank",
                    }
                )
                </td>
                <td>
                    @Html.ActionLink(
                linkText: "See",
                actionName: "Read",
                controllerName: "Classroom",
                routeValues: new
                    {
                        id = @classroom.Id
                    },
                htmlAttributes: new
                    {
                        target = "_blank",
                    }
            )
                </td>
                <td>
                    @Html.ActionLink(
                linkText: "Edit",
                actionName: "Edit",
                controllerName: "Classroom",
                routeValues: new
                    {
                        id = @classroom.Id
                    },
                htmlAttributes: new
                    {
                        target = "_blank",
                    }
            )
                </td>
        </tr>
            }
    </tbody>
</table>

