@{
    ViewBag.Title = "Edit";
}

@model SchoolManager.Models.TutorModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@{Html.BeginForm("Edit", "Tutor");}
@Html.HiddenFor(t => t.Id)

@Html.TextBoxFor(t => t.LastName)

@Html.TextBoxFor(t => t.FirstName)

@Html.TextBoxFor(t => t.Address)

@Html.TextBoxFor(t => t.PostCode)

@Html.TextBoxFor(t => t.Town)

@Html.TextBoxFor(t => t.Tel)

@Html.TextBoxFor(t => t.Mail)

@Html.TextBoxFor(t => t.Comment)


<input type="submit" value="Valider" />
@{Html.EndForm();}


