@{
    ViewBag.Title = "Edit";
}

@model SchoolManager.Models.TutorModel
@{
    ViewBag.Title = "Edit";
}

<h2>Create</h2>

@{Html.BeginForm("Edit", "Tutor", FormMethod.Post, new { @class = "form-horizontal" });}
@Html.HiddenFor(t => t.Id)

@Html.LabelFor(t => t.LastName)
@Html.TextBoxFor(t => t.LastName, new { @class="form-control" })

@Html.LabelFor(t => t.FirstName)
@Html.TextBoxFor(t => t.FirstName, new { @class="form-control" })

@Html.LabelFor(t => t.Address)
@Html.TextBoxFor(t => t.Address, new { @class="form-control" })

@Html.LabelFor(t => t.PostCode)
@Html.TextBoxFor(t => t.PostCode, new { @class="form-control" })

@Html.LabelFor(t => t.Town)
@Html.TextBoxFor(t => t.Town, new { @class="form-control" })

@Html.LabelFor(t => t.Tel)
@Html.TextBoxFor(t => t.Tel, new { @class = "form-control" })

@Html.LabelFor(t => t.Mail)
@Html.TextBoxFor(t => t.Mail, new { @class = "form-control" })

@Html.LabelFor(t => t.Comment)
@Html.TextBoxFor(t => t.Comment, new { @class = "form-control" })


<input type="submit" value="Valider" class="btn btn-primary" />
@{Html.EndForm();}


