@model SchoolManager.Models.TutorModel
@{
    ViewBag.Title = "Read - Tutor";
}
<h2>Tutor @Model.FirstName @Model.LastName </h2>
<table class="table">
    <thead>
        <tr>
            <th>Address</th>
            <th>Post code</th>
            <th>Town</th>
            <th>Tel</th>
            <th>Mail</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.Address</td>
                <td>@Model.PostCode</td>
                <td>@Model.Town</td>
                <th>@Model.Tel</th>
                <th>@Model.Mail</th>
                <th>@Model.Comment</th>
            </tr>
    </tbody>
</table>

<h2>Pupils</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Birthday Date</th>
            <th>Tutor</th>
            <th>Classroom</th>
            <th>Level</th>
            <th>
                @Html.ActionLink(
                    linkText: "Add Pupil",
                    actionName: "Create",
                    controllerName: "Pupil",
                    routeValues: new
                    {
                    },
                    htmlAttributes: new
                    {
                        @class = "btn btn-default",
                        target = "_blank",
                    }
                )
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pupil in Model.pupils)
        {
            <tr>
                <td>@pupil.FirstName</td>
                <td>@pupil.LastName</td>
                <td>@((SchoolManager.Models.PupilModel.Sexes)pupil.Sex)</td>
                <td>@pupil.BirthdayDate.ToShortDateString()</td>
                <td>
                    @Html.ActionLink(
                    linkText: pupil.TutorName,
                    actionName: "Read",
                    controllerName: "Tutor",
                    routeValues: new
                      {
                          id = @pupil.Tutor_Id
                      },
                    htmlAttributes: new
                     {
                         target = "_blank",
                     }
                )
                </td>
                <td>
                    @Html.ActionLink(
                    linkText: pupil.ClassroomTitle,
                    actionName: "Read",
                    controllerName: "Classroom",
                    routeValues: new
                      {
                          id = @pupil.Classroom_Id
                      },
                    htmlAttributes: new
                     {
                         target = "_blank",
                     }
                )
                </td>
                <td>
                    @Html.ActionLink(
                    linkText: pupil.LevelTitle,
                    actionName: "Read",
                    controllerName: "Level",
                    routeValues: new
                      {
                          area = "Administration",
                          id = @pupil.Level_Id
                      },
                    htmlAttributes: new
                     {
                         target = "_blank",
                     }
                )
                </td>
                <td>
                    @Html.ActionLink(
                    linkText: "See",
                    actionName: "Read",
                    controllerName: "Pupil",
                    routeValues: new
                      {
                          id = @pupil.Id
                      },
                    htmlAttributes: new
                     {
                         target = "_blank",
                     }
                )
                </td>
                <td>
                    @Html.ActionLink(
                    linkText: "Edit",
                    actionName: "Edit",
                    controllerName: "Pupil",
                    routeValues: new
                      {
                          id = @pupil.Id
                      },
                    htmlAttributes: new
                     {
                         target = "_blank",
                     }
                )
                </td>
            </tr>
        }
    </tbody>
</table>

