@model SchoolManager.Models.PeriodModel
@{
    ViewBag.Title = "Period";
}

<h2>Period from @Model.Begin.Date.ToString("dd MMMM") to @Model.End.Date.ToString("dd MMMM")  in 
    @Html.ActionLink(
        linkText: @Model.Year1.ToString(),
        actionName: "Read",
        controllerName: "Year",
        routeValues: new
            {
                id=@Model.Year_Id
            },
            htmlAttributes: null
    )
</h2>

<h2>Evaluations</h2>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Point</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eval in Model.Evaluations)
        {
            <tr>
                <td>@eval.Date.ToShortDateString()</td>
                <td>@eval.TotalPoint</td>
                <td>
                    @Html.ActionLink(
                        linkText: "See",
                        actionName: "Read",
                        controllerName: "Evaluation",
                        routeValues: new
                          {

                          },
                          htmlAttributes: null
                    )
                </td>
            </tr>
        }
    </tbody>
</table>