@model SchoolManager.Areas.ClassManagement.Models.AcademyModel
@{
    ViewBag.Title = "Read";
}

<h2>Etasblihsments of academy of @Model.Name</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>PostCode</th>
            <th>Town</th>
            <th>
                @Html.ActionLink(
                    linkText: "Add Establishment",
                    actionName: "Create",
                    controllerName: "Establishment",
                    routeValues: new
                    {
                        
                    },
                    htmlAttributes: new
                    {
                        @class = "btn btn-default btn-sm",
                        target = "_blank",
                    }
                )
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var establishment in Model.establishments)
        {
            <tr>
                <td>@establishment.Name</td>
                <td>@establishment.Address</td>
                <td>@establishment.PostCode</td>
                <td>@establishment.Town</td>
                <td>
                    @Html.ActionLink(
                    linkText: "See",
                    actionName: "Read",
                    controllerName: "Establishment",
                    routeValues: new
                      {
                          id=@establishment.id
                      },
                    htmlAttributes: new
                     {
                         target = "_blank",
                     }
                )
                </td>
            </tr>
        }
    </tbody>
</table>
