@model SchoolManager.Models.EvaluationModel
@{
    ViewBag.Title = "Edit";
    List<SchoolManager.Models.ClassroomModel> classrooms = (List<SchoolManager.Models.ClassroomModel>)ViewData["classrooms"];
    List<SchoolManager.Models.PeriodModel> periods = (List<SchoolManager.Models.PeriodModel>)ViewData["periods"];
    List<SchoolManager.Models.ResultModel> results = (List<SchoolManager.Models.ResultModel>)ViewData["results"];
    var date = Model.Date.ToString("yyyy-MM-dd"); 
}

<h2>Edit - Evaluation</h2>

@{Html.BeginForm("Edit", "Evaluation", FormMethod.Post, new { @class = "form-horizontal" });}
@Html.HiddenFor(p => p.Id)

<div class="form-group @if (!ViewData.ModelState.IsValidField("Date")) { @Html.Raw("has-error") ; }">
    @Html.LabelFor(t => t.Date, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10 controls">
        <div class="row">
            <div class="col-sm-8">
                <input type="date" class="form-control" placeholder="Date" id="Date" name="Date" value="@date" />
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(t => t.Date, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
</div>



<div class="form-group @if (!ViewData.ModelState.IsValidField("TotalPoint")) { @Html.Raw("has-error") ; }">
    @Html.LabelFor(t => t.TotalPoint, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10 controls">
        <div class="row">
            <div class="col-sm-8">
                @Html.TextBoxFor(t => t.TotalPoint, new { @class = "form-control", @type = "number" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(t => t.TotalPoint, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">Period</label>
    <div class="col-sm-10">
        <select class="form-control" id="Period_Id" name="Period_Id">
            @foreach (var period in periods)
            {
                if (period.Id == @Model.Period_Id)
                {
                    <option selected="selected" value="@period.Id">@period.Begin.ToShortDateString() - @period.End.ToShortDateString()</option>
                }
                else
                {
                    <option value="@period.Id">@period.Begin.ToShortDateString() - @period.End.ToShortDateString()</option>
                }
            }
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Classroom</label>
    <div class="col-sm-10">
        <select class="form-control" id="Classroom_Id" name="Classroom_Id">
            @foreach (var classroom in classrooms)
            {
                if (classroom.Id == @Model.Classroom_Id)
                {
                    <option selected="selected" value="@classroom.Id">@classroom.Title | @classroom.Establishment_Name | @classroom.User_Name | @classroom.Year1.ToString()</option>
                }
                else
                {
                    <option value="@classroom.Id">@classroom.Title | @classroom.Establishment_Name | @classroom.User_Name | @classroom.Year1.ToString()</option>
                }
            }
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</div>
@{Html.EndForm();}
@{Html.RenderPartial("_EditResults", Model.Results);}




<!-- Script pour support Firefox -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
    webshims.setOptions('waitReady', false);
    webshims.setOptions('forms-ext', { types: 'date' });
    webshims.polyfill('forms forms-ext');
</script>
